* {
    box-sizing: border-box;
}



body {
    margin: 0;
}



button {
    cursor: pointer;
}


a {
    text-decoration: none;
}


/*Layout*/
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-header h3 {
    display: inline-block;
}

.nav-links,
.social-links {
    display: flex;
}

.nav-links li,
.social-links li {
    margin: 2rem;
}

/*Gallery-img style*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 2rem;
    margin: 2rem;
}



.item {
    height: 12rem;
}

.item-img {
    width: 100%;
}

.hide{
    visibility: hidden;
    display: none;
}



/* meme-editor */

.meme-editor-container{
    display: flex;
    margin: 2rem;
}

.meme-controlls input {
    padding: 0.25rem;
    margin-left: 4rem;

}

/* footer */
.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    width: 100%;
}




/*componenets*/
.main-header {
    background-color: orange;
}




.main-header ul li {
    font-size: 1.2rem;
}

.main-footer {
    background-color: #222;
    color: white;
}

.social-links li a {
    color: white;
}





.btn {
    background: transparent;
    outline: 0;
    border: 0;
}




/*Helpers*/
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}