* {
    box-sizing: border-box;
}



body {
    margin: 0;
}



button {
    cursor: pointer;
}


a {
    text-decoration: none;
}


/*Layout*/
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4.25;
}

.main-header h3 {
    display: inline-block;
}

.nav-links,
.social-links {
    display: flex;
}

.nav-links li,
.social-links li {
    margin: 2rem;
}

/*Gallery-img style*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 2rem;
    margin: 1rem ;
}



.item {
    height: 12rem;
}

.item-img {
    width: 100%;
}

.hide{
    display: none;
    visibility: hidden;
}



/* meme-editor */

.meme-editor-container{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    
}

.meme-settings input:first-child{
    padding: 0.25rem;
    margin-left: 4rem;

}
.font-settings {
    display: flex;
    margin-left: 4rem; ;
}

.canvas-container{
    width: 50%;

}
.meme-settings{
    width: 50%;
}

/* footer */
.main-footer {
    background-color: #ff8f03;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.main-footer small {
    text-align: center;
    padding: 2rem;
}





/*componenets*/
.main-header {
    background-color:  #ff8f03;
}




.main-header ul li {
    font-size: 1.2rem;
}








.btn {
    background: transparent;
    outline: 0;
    border: 0;
}




/*Helpers*/
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}