* {
    box-sizing: border-box;
}

/* Fontface */


@font-face {
    font-family: permamarker;
    src: url('../fonts/PermanentMarker/PermanentMarker-Regular.ttf');
}
@font-face {
    font-family:anton;
    src: url('../fonts/Anton/Anton-Regular.ttf');
}
@font-face {
    font-family:Grenze;
    src: url('../fonts/Grenze_Gotisch/GrenzeGotisch-Black.ttf');
}
@font-face {
    font-family:vampiro;
    src: url('../fonts/Vampirone/VampiroOne-Regular.ttf');
}
@font-face {
    font-family:henny;
    src: url('../fonts/hennypenny/HennyPenny-Regular.ttf');
}

body {
    margin:0 auto;;
    background-image: linear-gradient(to left top,
         #ee140a, #ef3c01,
         #f05400, #f06800,
         #f07900, #f38900,
         #f59800, #f6a708,
         #f9b90b, #facc15,
         #fade23, #f9f133);
    
}



button {
    cursor: pointer;
}


a {
    text-decoration: none;
}

:visited{
    color:black
}

/*Layout*/
.container {
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
    
}


/* nav-bar */
.main-header {
    height: 8.125rem;
    margin-bottom: 5rem;
}
.main-header div:first-child {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-nav {
    height: 100%;
}


.logo {
    font-family: anton;
    font-size: 2.5rem;
    color: #ffffff;
    margin-left: 2rem;
    font-weight:600;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


.main-header a {
    color: #000000;
    font-family: Grenze, sans-serif;
}
.main-nav li a {
    display: flex;
    height: 100%;
    width: 8.125rem;
    justify-content: center;
    align-items: center;
}
.main-header-container .menu-btn{
display:none;
}


.main-nav li a:hover {
    border-bottom: 5px solid #ffffff;
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



/*Gallery-img style*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 2rem;
    margin: 1rem ;
}



.item {
    height: 12rem;
}

.item-img {
    width: 100%;
}

.hide{
    display: none;
    visibility: hidden;
}



/* meme-editor */

.meme-editor-container{
    background-image: linear-gradient(to left top,
    #fdf200, #fbe800,
    #f9de00, #f7d503,
    #f4cb07, #f4c50b,
    #f3be0f, #f2b813,
    #f3b217, #f4ad1b,
    #f4a71f, #f4a223);
    display: flex;
    height: 30rem;
    margin: 6.5rem 2rem;
    
}
.meme-editor-container *{
    margin:0.25rem
}

.meme-settings input{
    /* outline: none;
    border: none;
    height:2rem;
    width: 15rem;
    border-radius: 2rem; */
    width: 20rem;
    height: 80px;
    font-family: henny, sans-serif;
    font-size: 1.8rem;
    background-color: transparent;
    border: none;
    border-top: 3px solid #000000;
    border-bottom: 3px solid#000000;
    outline: none;
    color:#000000;
    padding-left: 10px;
}
.text-input {
    align-items: center;
    display: flex;
}
.color-input{
    display: flex;
    flex-direction: row;
    width : 10rem;
    border-radius: 50%;

}

input[type=color] {
    width: 3rem;
    height: 3rem; 
    border-radius: 50%;
    border:none;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
.font-settings {
    display: flex;
}

.canvas-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#my-canvas{
    height: 95%;
    width: 80%;
}
.meme-settings{
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

/* footer */
.main-footer {
    background-color: #ff8f03;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.main-footer small {
    text-align: center;
    padding: 2rem;
    font-family: vampiro;
}





/*componenets*/
.main-header {
    background-color:  #ff8f03;
}




.main-header ul li {
    font-size: 1.2rem;
}








.btn {
    background: transparent;
    outline: 0;
    border: 0;
}
.meme-settings button{
    background: transparent;
    outline: 0;
    border: 0;  
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    border: 2px solid #ff8f03;
    background-image: linear-gradient(to left top, #da6c08, #de6e09, #e2710b, #e6730c, #ea760d, #ef8108, #f48d04, #f99800, #fdae00, #ffc500, #fedb01, #fbf21f);
    outline: 0;
    border-radius: 1.25rem;

}

.editor-btn {
    margin: 0.25rem;
    height: 1.5rem;

}

.end-prod {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.end-prod * {
    margin-right: 0.25rem;
    width: 4.5rem;
    align-items: center;
    outline: 0;
    border-radius: 1.25rem;
    font-family: permamarker;
    border: 2px solid #ff8f03;
    background-image: linear-gradient(to left top, #da6c08, #de6e09, #e2710b, #e6730c, #ea760d, #ef8108, #f48d04, #f99800, #fdae00, #ffc500, #fedb01, #fbf21f);
}
.end-prod a ,
.end-prod button{
display: flex;
height: 150%;
width: 6.125rem;
justify-content: center;
align-items: center;
}
.end-prod a {
    margin: 0.5rem;
    color: #000000;
}
.meme-editor-container .select-font {
    width: 10rem;
    background-color:  #da6c08;
    background-image: linear-gradient(to left top, #da6c08, #de6e09, #e2710b, #e6730c, #ea760d, #ef8108, #f48d04, #f99800, #fdae00, #ffc500, #fedb01, #fbf21f);
    color:#000000;
    padding: 12px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    font-family: permamarker;
}

/*Helpers*/
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}



/* medium */
@media (max-width: 940px) {
    .end-prod{
        width: 100%;
    }
    #my-canvas{
        width: 90%;
    }
    .meme-settings input{
        width:20rem;
    }
}


/* narrow */
@media (max-width: 720px) {
    .meme-settings {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .meme-editor-container {
        flex-direction: column;
        height: 45rem;
        margin: 0.5rem 0.5rem;
        align-items: center;
        width: 100%;
    }
    .canvas-container {
    width: 100%; 
    }
    .main-header{
        height: 6.125rem;
        margin-bottom: 2rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .main-header{
        height: 4.125rem;
        width: 92%;
    }
    .main-header .menu-btn{
        height: 3.5rem;
        width: 3.5rem;
        font-size: 2.5rem;
        background: transparent;
        border: none;
    }
    .main-header-container .menu-btn{
        display:block;
        }
    .main-header .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #FFFDD0;
        opacity: 0.8;
        border-left: 1px solid #f0f0f0;
        flex-direction: column;
        width: 60%;
        text-align: center;
        transform: translateX(100%);
        transition: transform .8s; 
    }

    body.menu-open .main-header .main-nav {
        transform: translateX(0%);
    }
    body.menu-open  .main-header-container .menu-btn{
        display:none;
        }
    .main-header .main-nav li {
    
        height:6rem;
    }
    .main-header .main-nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .main-header .close-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s;
    }

    body.menu-open .close-menu {
    visibility: visible;
    opacity: 1;
    }
}

/* extra - narrow */
@media (max-width: 450px) {
    .main-header {
        height: 5.125rem;
        margin-bottom: 0rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    grid-gap: 1rem;
    margin: 1rem;
    
    }
    .main-footer{
        height:2.5rem;
    }
    .meme-editor-container {
        flex-direction: column;
        height: 37rem;
        margin: 0 auto;
        align-items: center;
        width: 100%;
        height:70%
    }
    #my-canvas {
        width:85%;
    }
    .end-prod{
        width :90%
    }
    .meme-settings input {
    height: 2.5rem;
    font-size: 1rem;
    }
}
